.labelText {
  display: inline-block;
  color: var(--hive-content-primary);
}

.l {
  font: var(--hive-font-label-l);
}

.m {
  font: var(--hive-font-label-m);
}

.s {
  font: var(--hive-font-label-s);
}

.xs {
  font: var(--hive-font-label-xs);
}
