.heading {
  margin: 0;
  color: var(--hive-content-primary);
}

.lvl1 {
  font: var(--hive-font-h1);
}

.lvl2 {
  font: var(--hive-font-h2);
}

.lvl3 {
  font: var(--hive-font-h3);
}

.lvl4 {
  font: var(--hive-font-h4);
}

.lvl5 {
  font: var(--hive-font-h5);
}

.lvl6 {
  font: var(--hive-font-h6);
}
