.paragraph {
  margin: 0;
  color: var(--taskall-content-primary);
}

.l {
  font: var(--taskall-font-paragraph-l);
}

.m {
  font: var(--taskall-font-paragraph-m);
}

.s {
  font: var(--taskall-font-paragraph-s);
}

.xs {
  font: var(--taskall-font-paragraph-xs);
}
